body {
	background:#1c1c1c;
	color:#a7d129;
	margin:0;
	padding:0;
}
hr{
	color:#32302f;
}
ul{
	list-style: none;
}
li{
	color:#81b214; 
}
a{
	text-decoration:none;
	color:#9ede73;
}
h1,h2,h3,h4,h5,h6{color:#9ede73;}
h1{margin-bottom:12px !important;}
h4{margin-left:24px;margin-right:24px;}
img{max-width:100%;}
h3{font-size:20pt;width:100%;font-weight:bold;margin-top:32px;margin-bottom:0;}
header{width:100%;max-width:800px;margin:0px auto;padding-top:24px;padding-bottom:8px;}
#footer{padding-top:10px;border-top:solid 1px #666;text-align:center;font-size:small;font-family:"Courier New","Courier",monospace;}
#all_posts{margin-top:24px;margin-bottom:24px;text-align:center;}
.subtitle{font-size:small;margin:12px 0px;}
.content p{margin-left:24px;margin-right:24px;}
