body {
	background:#1c1c1c;
	color:#a7d129;
	margin:0;
	padding:0;
}
hr{
	color:#32302f;
}
ul{
	list-style: none;
}
li{
	color:#81b214; 
}
a{
	text-decoration:none;
	color:#9ede73;
}
h1,h2,h3,h4,h5,h6{color:#a7d129;}
h1{margin-bottom:12px !important;}
h4{margin-left:24px;margin-right:24px;}
img{max-width:100%;}
h3{font-size:20pt;width:100%;font-weight:bold;margin-top:32px;margin-bottom:0;}
.header{width:100%;max-width:800px;margin:0px auto;}
.headerholder{max-height:20%;max-width:100%;width:100%;margin:0;padding:0;}
#footer{padding-top:10px;border-top:solid 1px #666;text-align:center;font-size:small;font-family:"Courier New","Courier",monospace;}
.description{margin-top:10px;border-top:solid 1px #666;padding:10px 0;}
blockquote{background-color:#f9f9f9;border-left:solid 4px #e9e9e9;margin-left:12px;padding:12px 12px 12px 24px;}
blockquote img{margin:12px 0px;}
blockquote iframe{margin:12px 0px;}
#divbodyholder{padding:5px;width:100%;max-width:874px;margin:24px auto;}
#divbody{padding:0px 38px 24px 38px;top:0;}
